/* For element selecion */
.root {
	-primary-color: yellow;
	-accent-color: #3498db;
	-fx-font-size: 16px;
	-fx-background-color: linear-gradient(to bottom, #ffcc00, #ff9900);
}
.label,.text-field,.text {
	-fx-text-fill: #333333;
}
.button {
	-fx-background-color: -primary-color;
	/* using same as another text */
	/* -fx-text-fill: black; */
}
/* For event of element */
/* #CALCULATE_MANUALLY: just switch fg/bg */
.button:hover {
	-fx-background-color: #333333;
	-fx-text-fill: -primary-color;
}
/* For class selecion */
.HIGHLIGHT {
	-fx-background-color: -accent-color;
	/* #CALCULATE_MANUALLY: inverse -fx-text-fill of general text */
	-fx-text-fill: rgb(204,204,204);
}
/* For event of class */
/* #CALCULATE_MANUALLY: just switch fg/bg */
.HIGHLIGHT:hover {
	-fx-background-color: rgb(204,204,204);
	-fx-text-fill: -accent-color;
}