/* For element selecion */
.root {
	-primary-color: yellow;
	-accent-color: #3498db;
	-general-text-color: #333333;
	-general-text-color--inversed: rgb(204,204,204);
	-general-effect-shadowdrop: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 5);
	-general-effect-shadowdrop-hover: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 2.5);
	-fx-background-color: linear-gradient(to bottom, #ffcc00, #ff9900);
}
Label,TextField,PasswordField,Text {
	-fx-text-fill: -general-text-color;
	-fx-effect: -general-effect-shadowdrop;
}
Button {
	-fx-text-fill: -general-text-color;
	-fx-background-color: -primary-color;
	-fx-effect: -general-effect-shadowdrop;
}
/* For event of element */
Button:hover,TextField:hover,PasswordField:hover {
	-fx-background-color: -general-text-color;
	-fx-text-fill: -primary-color;
	-fx-effect: -general-effect-shadowdrop-hover;
}
/* For class selecion */
.HIGHLIGHT {
	-fx-background-color: -accent-color;
	-fx-text-fill: -general-text-color--inversed;
}
/* For event of class */
.HIGHLIGHT:hover {
	-fx-background-color: -general-text-color--inversed;
	-fx-text-fill: -accent-color;
	-fx-effect: -general-effect-shadowdrop-hover;
}