/* For element selecion */
.root {
	-primary-color: rgb(255, 255, 0);
	-primary-color--lighten: rgb(255,255,191);
	-accent-color: rgb(52, 152, 219);
	-poshighlight-color: rgb(60,171,53);
	-neghighlight-color: rgb(171,37,30);
	-general-text-color: #333333;
	-general-text-color--lighten: rgb(102,102,102);
	-general-text-color--inversed: rgb(204,204,204);
	-general-text-color--inversed--lighten: rgb(230,230,230);
	-general-effect-shadowdrop: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 5);
	-general-effect-shadowdrop-hover: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 10, 0, 0, 2.5);
	-fx-background-color: linear-gradient(to bottom, rgb(255, 204, 0), rgb(255, 153, 0));
}

/* TextArea,ListView มีแค่ effect เพราะ ตั้ง สี bg ไม่ได้ LAMO */
TextArea,ListView {
	-fx-effect: -general-effect-shadowdrop;
}
TextField,PasswordField,ComboBox {
	-fx-text-fill: -general-text-color--lighten;
	-fx-background-color: -primary-color--lighten;
	-fx-effect: -general-effect-shadowdrop;
}
Label,Text {
	-fx-text-fill: -general-text-color;
	-fx-effect: -general-effect-shadowdrop;
}

Button {
	-fx-text-fill: -general-text-color;
	-fx-background-color: -primary-color;
	-fx-effect: -general-effect-shadowdrop;
}
/* For event of element */
Button:hover,TextField:hover,PasswordField:hover,ComboBox:hover {
	-fx-background-color: -general-text-color;
	-fx-text-fill: -primary-color;
	-fx-effect: -general-effect-shadowdrop-hover;
}
/* see above remark */
TextArea:hover,ListView:hover {
	-fx-effect: -general-effect-shadowdrop-hover;
}
/* For class selecion */
.HIGHLIGHT {
	-fx-background-color: -accent-color;
	-fx-text-fill: -general-text-color--inversed--lighten;
}
/* For event of class */
.HIGHLIGHT:hover {
	-fx-background-color: -general-text-color--inversed--lighten;
	-fx-text-fill: -accent-color;
	-fx-effect: -general-effect-shadowdrop-hover;
}
.POSHIGHLIGHT {
	-fx-background-color: -poshighlight-color;
	-fx-text-fill: -general-text-color--inversed--lighten;
}
.POSHIGHLIGHT:hover {
	-fx-background-color: -general-text-color--inversed--lighten;
	-fx-text-fill: -poshighlight-color;
	-fx-effect: -general-effect-shadowdrop-hover;
}
.NEGHIGHLIGHT {
	-fx-background-color: -neghighlight-color;
	-fx-text-fill: -general-text-color--inversed--lighten;
}
.NEGHIGHLIGHT:hover {
	-fx-background-color: -general-text-color--inversed--lighten;
	-fx-text-fill: -neghighlight-color;
	-fx-effect: -general-effect-shadowdrop-hover;
}